In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('customer_shopping_behavior.csv')

In [4]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [5]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [7]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [10]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [11]:
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x:x.fillna(x.median()))

In [12]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [17]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [14]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [19]:
labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [20]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [21]:
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [22]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [23]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [24]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [25]:
df = df.drop('promo_code_used', axis=1)

In [26]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [28]:
import sys
print(sys.executable)

c:\Users\DELL\AppData\Local\Programs\Python\Python312\python.exe

In [29]:
import sys
!{sys.executable} -m pip install mysql-connector-python pymysql sqlalchemy

Requirement already satisfied: mysql-connector-python in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (9.5.0)
Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/7c/4c/ad33b92b9864cbde84f259d5df035a6447f91891f5be77788e2a3892bce3/pymysql-1.1.2-py3-none-any.whl.metadata
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/f7/4e/510db49dd89fc3a6e994bee51848c94c48c4a00dc905e8d0133c251f41a7/sqlalchemy-2.0.45-cp312-cp312-win_amd64.whl.metadata
  Downloading sqlalchemy-2.0.45-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Obtaining dependency information for greenlet>=1 from https://files.pythonhosted.org/packages/6c/79/3912a94cf27ec503e51ba493692d6db1e3cd8ac7ac52b0b47c8e33d7f4f9/greenlet-3.3.0-cp312-cp312-win_amd64.whl.metadata
  Downloading greenlet-3.3.0-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.13.2)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
   ---------------------------------------- 0.0/45.3 kB ? eta -:--:--
   ---------------------------------------- 45.3/45.3 kB 1.1 MB/s eta 0:00:00
Downloading sqlalchemy-2.0.45-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 1.1 MB/s eta 0:00:02
   -- ------------------------------------- 0.1/2.1 MB 1.3 MB/s eta 0:00:02
   --- ------------------------------------ 0.2/2.1 MB 1.3 MB/s eta 0:00:02
   ---- ----------------------------------- 0.2/2.1 MB 1.3 MB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.1 MB 1.3 MB/s eta 0:00:02
   ------ --------------------------------- 0.4/2.1 MB 1.3 MB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.1 MB 1.3 MB/s eta 0:00:02
   -------- ------------------------------- 0.5/2.1 MB 1.3 MB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 1.3 MB/s eta 0:00:02
   ---------- ----------------------------- 0.6/2.1 MB 1.3 MB/s eta 0:00:02
   ------------ --------------------------- 0.6/2.1 MB 1.3 MB/s eta 0:00:02
   ------------- -------------------------- 0.7/2.1 MB 1.3 MB/s eta 0:00:02
   ------------- -------------------------- 0.7/2.1 MB 1.3 MB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.1 MB 1.3 MB/s eta 0:00:02
   ---------------- ----------------------- 0.9/2.1 MB 1.3 MB/s eta 0:00:01
   ----------------- ---------------------- 0.9/2.1 MB 1.3 MB/s eta 0:00:01
   ----------------- ---------------------- 1.0/2.1 MB 1.3 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.3 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 1.3 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 1.3 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.1 MB 1.3 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.1 MB 1.3 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 1.3 MB/s eta 0:00:01
   ------------------------- -------------- 1.4/2.1 MB 1.3 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 1.3 MB/s eta 0:00:01
   --------------------------- ------------ 1.5/2.1 MB 1.3 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 1.3 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 1.3 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 1.3 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 1.3 MB/s eta 0:00:01
   -------------------------------- ------- 1.8/2.1 MB 1.3 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 1.3 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 1.3 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 1.3 MB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 2.1/2.1 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.3 MB/s eta 0:00:00
Downloading greenlet-3.3.0-cp312-cp312-win_amd64.whl (301 kB)
   ---------------------------------------- 0.0/302.0 kB ? eta -:--:--
   ----- --------------------------------- 41.0/302.0 kB 991.0 kB/s eta 0:00:01
   -------------- ------------------------- 112.6/302.0 kB 1.3 MB/s eta 0:00:01
   ----------------------- ---------------- 174.1/302.0 kB 1.2 MB/s eta 0:00:01
   ------------------------------- -------- 235.5/302.0 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------  297.0/302.0 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 302.0/302.0 kB 1.2 MB/s eta 0:00:00
Installing collected packages: pymysql, greenlet, sqlalchemy
Successfully installed greenlet-3.3.0 pymysql-1.1.2 sqlalchemy-2.0.45

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:

import mysql.connector
import pandas as pd

In [31]:
!pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (2.0.45)
Requirement already satisfied: greenlet>=1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.13.2)

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import mysql.connector
import pandas as pd

for host in ("localhost", "127.0.0.1"):
    try:
        conn = mysql.connector.connect(
            host=host,
            user="root",              
            password="1825@", 
            database="customer_behavior" 
        )
        print("Connected using host:", host)
        df = pd.read_sql("SELECT 1 AS test;", conn)
        print(df)
        conn.close()
        break
    except Exception as e:
        print("Failed with host", host, "->", type(e).__name__, e)

Connected using host: localhost

C:\Users\DELL\AppData\Local\Temp\ipykernel_24276\3479468300.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT 1 AS test;", conn)

   test
0     1

In [35]:
import socket
for host in ("localhost","127.0.0.1"):
    try:
        print("getaddrinfo for", host, "->", socket.getaddrinfo(host, 3306)[0][4])
    except Exception as e:
        print("getaddrinfo failed for", host, ":", type(e).__name__, e)
    try:
        s = socket.socket()
        s.settimeout(2)
        s.connect((host, 3306))
        print("TCP connect OK for", host)
        s.close()
    except Exception as e:
        print("TCP connect failed for", host, ":", type(e).__name__, e)

getaddrinfo for localhost -> ('::1', 3306, 0, 0)
TCP connect OK for localhost
getaddrinfo for 127.0.0.1 -> ('127.0.0.1', 3306)
TCP connect OK for 127.0.0.1

In [ ]:
import mysql.connector
from mysql.connector import Error

try:
    conn = mysql.connector.connect(
        host="127.0.0.1",
        user="root",
        password="1825@",      
        database="customer_behavior",
        connection_timeout=5
    )
    print("mysql-connector: connected, server version:", conn.get_server_info())
    conn.close()
except Exception as e:
    print("mysql-connector error:", type(e).__name__, e)

mysql-connector: connected, server version: 8.0.43

C:\Users\DELL\AppData\Local\Temp\ipykernel_24276\1320656260.py:12: DeprecationWarning: Call to deprecated function get_server_info. Reason:
    The property counterpart 'server_info' should be used instead.

  print("mysql-connector: connected, server version:", conn.get_server_info())

In [40]:
import sys
!{sys.executable} -m pip install cryptography

Collecting cryptography
  Obtaining dependency information for cryptography from https://files.pythonhosted.org/packages/7e/bf/80fbf45253ea585a1e492a6a17efcb93467701fa79e71550a430c5e60df0/cryptography-46.0.3-cp311-abi3-win_amd64.whl.metadata
  Downloading cryptography-46.0.3-cp311-abi3-win_amd64.whl.metadata (5.7 kB)
Collecting cffi>=2.0.0 (from cryptography)
  Obtaining dependency information for cffi>=2.0.0 from https://files.pythonhosted.org/packages/f8/ed/13bd4418627013bec4ed6e54283b1959cf6db888048c7cf4b4c3b5b36002/cffi-2.0.0-cp312-cp312-win_amd64.whl.metadata
  Downloading cffi-2.0.0-cp312-cp312-win_amd64.whl.metadata (2.6 kB)
Requirement already satisfied: pycparser in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from cffi>=2.0.0->cryptography) (2.22)
Downloading cryptography-46.0.3-cp311-abi3-win_amd64.whl (3.5 MB)
   ---------------------------------------- 0.0/3.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.5 MB ? eta -:--:--
    --------------------------------------- 0.1/3.5 MB 1.1 MB/s eta 0:00:04
   - -------------------------------------- 0.1/3.5 MB 1.2 MB/s eta 0:00:03
   - -------------------------------------- 0.2/3.5 MB 1.2 MB/s eta 0:00:03
   -- ------------------------------------- 0.2/3.5 MB 1.3 MB/s eta 0:00:03
   --- ------------------------------------ 0.3/3.5 MB 1.3 MB/s eta 0:00:03
   --- ------------------------------------ 0.3/3.5 MB 1.2 MB/s eta 0:00:03
   ---- ----------------------------------- 0.4/3.5 MB 1.3 MB/s eta 0:00:03
   ----- ---------------------------------- 0.4/3.5 MB 1.3 MB/s eta 0:00:03
   ----- ---------------------------------- 0.5/3.5 MB 1.3 MB/s eta 0:00:03
   ------ --------------------------------- 0.6/3.5 MB 1.3 MB/s eta 0:00:03
   ------ --------------------------------- 0.6/3.5 MB 1.3 MB/s eta 0:00:03
   ------- -------------------------------- 0.6/3.5 MB 1.3 MB/s eta 0:00:03
   -------- ------------------------------- 0.7/3.5 MB 1.3 MB/s eta 0:00:03
   -------- ------------------------------- 0.8/3.5 MB 1.3 MB/s eta 0:00:03
   --------- ------------------------------ 0.8/3.5 MB 1.3 MB/s eta 0:00:03
   --------- ------------------------------ 0.9/3.5 MB 1.3 MB/s eta 0:00:03
   ---------- ----------------------------- 0.9/3.5 MB 1.3 MB/s eta 0:00:03
   ----------- ---------------------------- 1.0/3.5 MB 1.3 MB/s eta 0:00:02
   ----------- ---------------------------- 1.0/3.5 MB 1.3 MB/s eta 0:00:02
   ------------ --------------------------- 1.1/3.5 MB 1.3 MB/s eta 0:00:02
   ------------ --------------------------- 1.1/3.5 MB 1.3 MB/s eta 0:00:02
   ------------- -------------------------- 1.2/3.5 MB 1.3 MB/s eta 0:00:02
   -------------- ------------------------- 1.2/3.5 MB 1.3 MB/s eta 0:00:02
   -------------- ------------------------- 1.3/3.5 MB 1.3 MB/s eta 0:00:02
   --------------- ------------------------ 1.4/3.5 MB 1.3 MB/s eta 0:00:02
   ---------------- ----------------------- 1.4/3.5 MB 1.3 MB/s eta 0:00:02
   ---------------- ----------------------- 1.5/3.5 MB 1.3 MB/s eta 0:00:02
   ----------------- ---------------------- 1.5/3.5 MB 1.3 MB/s eta 0:00:02
   ----------------- ---------------------- 1.6/3.5 MB 1.3 MB/s eta 0:00:02
   ------------------ --------------------- 1.6/3.5 MB 1.3 MB/s eta 0:00:02
   ------------------ --------------------- 1.7/3.5 MB 1.3 MB/s eta 0:00:02
   ------------------- -------------------- 1.7/3.5 MB 1.3 MB/s eta 0:00:02
   -------------------- ------------------- 1.8/3.5 MB 1.3 MB/s eta 0:00:02
   -------------------- ------------------- 1.8/3.5 MB 1.3 MB/s eta 0:00:02
   --------------------- ------------------ 1.9/3.5 MB 1.3 MB/s eta 0:00:02
   --------------------- ------------------ 1.9/3.5 MB 1.3 MB/s eta 0:00:02
   ---------------------- ----------------- 2.0/3.5 MB 1.3 MB/s eta 0:00:02
   ----------------------- ---------------- 2.0/3.5 MB 1.3 MB/s eta 0:00:02
   ----------------------- ---------------- 2.1/3.5 MB 1.3 MB/s eta 0:00:02
   ------------------------ --------------- 2.1/3.5 MB 1.3 MB/s eta 0:00:02
   ------------------------ --------------- 2.2/3.5 MB 1.3 MB/s eta 0:00:02
   ------------------------- -------------- 2.3/3.5 MB 1.3 MB/s eta 0:00:01
   -------------------------- ------------- 2.3/3.5 MB 1.3 MB/s eta 0:00:01
   -------------------------- ------------- 2.4/3.5 MB 1.3 MB/s eta 0:00:01
   --------------------------- ------------ 2.4/3.5 MB 1.3 MB/s eta 0:00:01
   --------------------------- ------------ 2.4/3.5 MB 1.3 MB/s eta 0:00:01
   ---------------------------- ----------- 2.5/3.5 MB 1.3 MB/s eta 0:00:01
   ----------------------------- ---------- 2.6/3.5 MB 1.3 MB/s eta 0:00:01
   ----------------------------- ---------- 2.6/3.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------ --------- 2.7/3.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------- -------- 2.7/3.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------- -------- 2.8/3.5 MB 1.3 MB/s eta 0:00:01
   -------------------------------- ------- 2.8/3.5 MB 1.3 MB/s eta 0:00:01
   -------------------------------- ------- 2.9/3.5 MB 1.3 MB/s eta 0:00:01
   --------------------------------- ------ 2.9/3.5 MB 1.3 MB/s eta 0:00:01
   ---------------------------------- ----- 3.0/3.5 MB 1.3 MB/s eta 0:00:01
   ---------------------------------- ----- 3.0/3.5 MB 1.3 MB/s eta 0:00:01
   ----------------------------------- ---- 3.1/3.5 MB 1.3 MB/s eta 0:00:01
   ----------------------------------- ---- 3.1/3.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------------ --- 3.2/3.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------------ --- 3.2/3.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------------- -- 3.3/3.5 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 3.3/3.5 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 3.4/3.5 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  3.5/3.5 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  3.5/3.5 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 3.5/3.5 MB 1.3 MB/s eta 0:00:00
Downloading cffi-2.0.0-cp312-cp312-win_amd64.whl (183 kB)
   ---------------------------------------- 0.0/183.6 kB ? eta -:--:--
   -------- ------------------------------ 41.0/183.6 kB 991.0 kB/s eta 0:00:01
   -------------------- ------------------- 92.2/183.6 kB 1.1 MB/s eta 0:00:01
   ------------------------------- -------- 143.4/183.6 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 183.6/183.6 kB 1.2 MB/s eta 0:00:00
Installing collected packages: cffi, cryptography
  Attempting uninstall: cffi
    Found existing installation: cffi 1.17.1
    Uninstalling cffi-1.17.1:
      Successfully uninstalled cffi-1.17.1
Successfully installed cffi-2.0.0 cryptography-46.0.3

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
!pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (2.0.45)
Requirement already satisfied: greenlet>=1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.13.2)

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

df = pd.read_csv("customer_shopping_behavior.csv")  
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [ ]:

try:
    print("Engine object:", engine)

    print("Engine URL (raw):", str(engine.url))
except NameError:
    print("No engine variable found. You need to recreate it (run the create_engine cell).")

Engine object: Engine(mysql+pymysql://root:***@@localhost:3306/customer_behavior)
Engine URL (raw): mysql+pymysql://root:***@@localhost:3306/customer_behavior

In [ ]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus
import pandas as pd

username = "root"
password = "1825@"         
host = "127.0.0.1"        
port = "3306"
database = "customer_behavior"

pwd_quoted = quote_plus(password)

engine = create_engine(f"mysql+pymysql://{username}:{pwd_quoted}@{host}:{port}/{database}")

print("Engine object:", engine)
print("Engine URL (raw):", str(engine.url).replace(password, "****"))

try:
    with engine.connect() as conn:
        print("Connected OK:", conn.execute("SELECT VERSION()").fetchone())
except Exception as e:
    print("SQLAlchemy connect error:", type(e).__name__, e)

Engine object: Engine(mysql+pymysql://root:***@127.0.0.1:3306/customer_behavior)
Engine URL (raw): mysql+pymysql://root:***@127.0.0.1:3306/customer_behavior
SQLAlchemy connect error: ObjectNotExecutableError Not an executable object: 'SELECT VERSION()'

In [12]:
import mysql.connector

conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="1825@"
)
cur = conn.cursor()

cur.execute("CREATE USER IF NOT EXISTS 'analyst'@'localhost' IDENTIFIED BY 'AnalystPass123!';")
cur.execute("GRANT ALL PRIVILEGES ON customer_behavior.* TO 'analyst'@'localhost';")
cur.execute("FLUSH PRIVILEGES;")

conn.commit()
cur.close()
conn.close()

print("User 'analyst' created successfully.")

User 'analyst' created successfully.

In [ ]:
from sqlalchemy import create_engine, text
from urllib.parse import quote_plus

username = "analyst"
password = "AnalystPass123!"
host = "127.0.0.1"
port = "3306"
database = "customer_behavior"

engine = create_engine(
    f"mysql+pymysql://{username}:{quote_plus(password)}@{host}:{port}/{database}"
)

with engine.connect() as conn:
    result = conn.execute(text("SELECT VERSION()"))
    print(result.fetchone())

('8.0.43',)

In [15]:
df.to_sql("customer", engine, if_exists="replace", index=False)

3900

In [16]:
pd.read_sql("SELECT * FROM customer LIMIT 5;", engine)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [17]:
import pymysql
try:
    conn = pymysql.connect(host="127.0.0.1", user="analyst", password="AnalystPass123!", db="customer_behavior", port=3306, connect_timeout=5)
    print("pymysql OK")
    conn.close()
except Exception as e:
    print("pymysql error:", e)

pymysql OK